

.heroText {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.heroText2 {
    font-size: 18px;
    color: #E5E7EB;
}

.headerText {
    font-size: 24px;
    color: #f9faf8;
}

.infoText {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.darkBG {
    background-color: #1f2937;
}

.button {
    color: #3882F6
}

.button:hover {
    background-color: #3882F6
}

.quoteText {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.quoteSection {
    background-color: #E5E7EB;
}