* {
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.heroText {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

a, .heroText2 {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: lighter;
}

.headerText {
    font-size: 24px;
    color: #f9faf8;
}

.infoText {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.darkBG {
    background-color: #1f2937;
    color: white;
}

.quoteSection {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quoteSection span {
    font-weight: bold;
    text-align: right;
    size: 20px;
}
.quoteText {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.menu {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
}

.menu span {
    font-weight: bold;
    font-size: 24px;
}

.menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
}

.menu li {
    padding: 5px;
}

.hero {
    display: flex;
    flex-wrap: nowrap;
}

.hero button {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #3882F6;
    font-weight: bold;
    border: none;
}

.herotexts, .heroText, .heroText2 {
    text-align: left;
}

.herotexts {
    flex-wrap: wrap;
}

.heroimage {
}


.hero img {
    max-width: 450px;
}

.footer {
}

.info {
    display: flex;
    flex-direction: column;
}

.paras {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.callAction {
    margin-left: 100px;
    margin-right: 100px;
    background-color:#3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.callAction p {
    text-align: left;
}

.callAction span {
    font-size: 20px;
    font-weight: bold;
}

.action {
}

.callAction button {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #3882F6;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.paras .imgBorder {
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px #3882F6 solid;
    border-radius: 5px;
}

.hero, .info, .quoteSection, .callAction, .footer {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
}